.app-displayer-external-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}

.app-displayer-container {
  width: 600px;
}

.app-shiftcards-container {
  margin-top: 10px;
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: 32.20% 32.20% 32.20%;
}